server:
  port: 8000

spring:
  application:
    name: cloud-consumer-order-openfeign
  cloud:
    consul:
      port: 8500
      host: localhost
      discovery:
        service-name: ${spring.application.name}
        prefer-agent-address: true
    openfeign:
      client:
        config:
          # default timeout is 60s
          default:
            connect-timeout: 5000
            read-timeout: 5000
      # httpclient5 is suggested by open feign
      httpclient:
        hc5:
          enabled: true
      # compression config
      compression:
        request:
          enabled: true
          mime-types: text/xml,application/xml,application/json
          min-request-size: 2048
        response:
          enabled: true

logging:
  level:
    edu:
      wong:
        apis:
          PayFeignApi: debug